<div class="px-3">
  <div class="d-flex align-items-center justify-content-end mb-2">
    <button
      type="button"
      class="btn btn-ghost rounded px-2 d-flex align-items-center"
      (click)="openCreateNewModal()"
    >
      <img
        class="mr-1"
        src="assets/images/bgBrownAddIcon.svg"
        style="width: 1rem"
      />
      <span class="fs-07">Add New</span>
    </button>

    <button
      type="button"
      class="btn btn-ghost rounded px-2 d-flex align-items-center mx-2"
      [disabled]="selectedAll.length > 0 ? false : true"
      data-target="#deleteTenantUserModal"
      data-toggle="modal"
    >
      <img
        class="mr-1"
        src="assets/images/deleteBrownProductIcon.svg"
        style="width: 1.1rem"
      />
      <span class="fs-07"> Delete</span>
    </button>

    <div class="search-container position-relative mr-2 fs-10">
      <img
        src="assets/images/search-boxicon.svg"
        class="d-block input-icon-right"
      />
      <input
        type="text"
        class="form-control"
        placeholder="Search.."
        [(ngModel)]="searchValue"
        (ngModelChange)="searchTenantUsers()"
      />
    </div>
  </div>

  <table class="table custom-table-height">
    <thead>
      <tr class="bg-light fs-08">
        <th class="border-0">
          <div
            class="custom-control custom-checkbox checkbox-select d-flex justify-content-between"
          >
            <input
              type="checkbox"
              class="custom-control-input"
              id="selectAllCheckbox"
              (change)="selectAllCheckbox($event)"
              name="selectAllCheckbox"
            />
            <label class="custom-control-label" for="selectAllCheckbox"></label>
          </div>
        </th>
        <th class="border-0 custom-header-width">Company Name</th>
        <th class="border-0 custom-header-width">Email Address</th>
        <th class="border-0">Status</th>
      </tr>
    </thead>

    <tbody>
      <tr
        class="fs-07 tenant-user-data border-bottom"
        *ngFor="let item of tenantUserData.results"
      >
        <td>
          <div class="custom-control custom-checkbox checkbox-select">
            <input
              type="checkbox"
              class="custom-control-input custom-select-all"
              [id]="item._id"
              (click)="onSelect($event, item)"
              [(ngModel)]="item.isChecked"
            />
            <label class="custom-control-label" [for]="item._id"></label>
          </div>
        </td>

        <td class="border-bottom">
          {{ item?.tenant_name }}
        </td>

        <td class="border-bottom">
          {{ item?.email[0] }}
        </td>

        <td class="border-bottom">
          <span
            class="text-white cursor-pointer rounded px-4 py-2"
            [ngClass]="{
              'bg-success': item?.isActive == true
            }"
            >Active</span
          >
          <span
            class="text-white cursor-pointer rounded px-4 py-2"
            [ngClass]="{
              'bg-danger': item?.isActive == false
            }"
            >Inactive</span
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="col-12 d-flex align-items-center justify-content-between">
  <div class="d-flex text-secondary fs-08 mb-3">
    <span>{{ selectedAll.length }} Selected/</span>
    <span>{{ tenantUserData?.results?.length }} Total</span>
  </div>
  <pagination
    [boundaryLinks]="true"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
    [totalItems]="tenantUserData.totalResults"
    [itemsPerPage]="tenantUserData.limit"
    [(ngModel)]="currentPage"
    (pageChanged)="pageChanged($event)"
  >
  </pagination>
</div>

<!-- Delete Modal Code Here -->
<div class="modal fade" tabindex="-1" id="deleteTenantUserModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header pb-2">
        <h5 class="modal-title delete-modal-header fw-700">
          Delete Tenant User
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body fs-08">
        <div class="">
          <span class="fw-500 pr-2"
            >Are you sure you want to delete tenant user(s):</span
          >
          <label class="pr-1 mb-0" *ngFor="let item of deleteSelectedData"
            >{{ item?.tenant_name }}
            <label *ngIf="deleteSelectedData.length > 1">,</label>
          </label>
        </div>
      </div>
      <div class="modal-footer border-0">
        <button
          type="button"
          class="btn btn-light mx-2 d-flex align-items-center"
          data-dismiss="modal"
        >
          <img
            src="assets/images/cancelButton.svg"
            class="mr-1"
            style="width: 0.95rem"
          />
          <span class="fs-07">Cancel</span>
        </button>
        <button
          type="button"
          class="btn btn-theme mx-2 d-flex align-items-center"
          data-dismiss="modal"
          (click)="deleteTenantUser()"
        >
          <img
            src="assets/images/deleteRoomIcon.svg"
            class="mr-1"
            style="width: 0.95rem"
          />
          <span class="fs-07">Delete</span>
        </button>
      </div>
    </div>
  </div>
</div>
