@import "~@ng-select/ng-select/themes/default.theme.css";

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url(/assets/fonts/Inter-300.ttf) format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/assets/fonts/Inter-400.ttf) format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url(/assets/fonts/Inter-500.ttf) format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url(/assets/fonts/Inter-600.ttf) format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(/assets/fonts/Inter-700.ttf) format("truetype");
}

:root {
  --brown: #ba7124;
  --blue: #32444b;
  --gray-2: #e0e3e1;
  --gray-3: #c2c6c5;
  --gray-4: #f6f6f6;
  --gray-5: #fafafa;
}

body {
  font-family: "Inter";
}

.cursor-pointer {
  cursor: pointer;
}

.form-control {
  border-radius: 0.4rem;
  border-color: var(--gray-4);
  font-size: 0.75rem;
  font-weight: 300;
  min-height: 2.2rem;
}

.modal-title {
  font-size: 1.5rem;
}

.input-icon-right {
  width: 1.2rem;
  position: absolute;
  margin: 0.5rem;
  right: 0;
}

.input-icon-right + .form-control {
  padding-right: 2.2rem;
}

.btn-ghost {
  background-color: white;
  color: var(--brown);
  border: 1px solid var(--brown);
}

.btn-ghost:hover {
  color: var(--brown);
}

.fs-07 {
  font-size: 0.7rem;
}

.fs-08 {
  font-size: 0.8rem;
}

.fs-09 {
  font-size: 0.9rem;
}

.btn-theme {
  background-color: var(--brown);
  color: white !important;
}

.btn-theme:hover,
.btn-theme:focus {
  background-color: 0 0 0 0.2rem rgba(247, 201, 150, 0.8);
}

btn.focus,
.btn:focus,
.btn-light:focus {
  outline: 0;
  box-shadow: none;
}

.form-control:focus,
.ng-select:focus {
  border-color: var(--brown) !important;
  box-shadow: 0 0 0 0.2rem rgb(247 201 150 / 80%) !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: var(--brown);
  background-color: var(--brown);
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0px 0px 0px 0.2rem rgba(186, 113, 36, 0.25);
}

.fw-700 {
  font-weight: 700;
}

.fw-500 {
  font-weight: 500;
}

.nav-item a:hover {
  text-decoration: none !important;
}

a.nav-link.active {
  color: white !important;
  background-color: #ba7124 !important;
}

a.nav-link {
  background-color: #f8f9fa;
  color: #000000;
}

.select-btn {
  color: var(--brown);
}

.custom-scroll-bar::-webkit-scrollbar,
.mention-dropdown::-webkit-scrollbar,
.modal.fade::-webkit-scrollbar,
.ng-dropdown-panel-items::-webkit-scrollbar {
  width: 0px;
  background-color: #f5f5f5;
}

.table-hovered-color tbody tr:hover {
  color: #212529;
  background-color: var(--gray-5);
}

.ng-dropdown-panel-items {
  background-color: white;
  border: 1px solid var(--gray-4);
  margin-top: 0rem;
}

.ng-dropdown-panel {
  /* position: relative !important; */
  left: 0;
}

.ng-option {
  padding: 0.3rem;
}

.ng-option:hover {
  background-color: #b66e230f;
  color: var(--brown);
  font-weight: 700;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: #b66e230f !important;
  color: #b66e23 !important;
}
.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container,
.ng-select.ng-select-focused > .ng-select-container {
  border-color: var(--brown);
  box-shadow: 0rem 0.4rem 0.8rem rgba(186, 113, 36, 0.5);
}
.ng-select .ng-select-container {
  border-color: var(--gray-4);
}

.page-item:first-child .page-link,
.page-item.active .page-link,
.page-link,
.page-item:last-child .page-link {
  border-radius: 0.44rem;
  color: var(--brown);
  background-color: #fff;
  border-color: var(--brown);
  padding: 0.4rem 0.8rem;
  margin: 0rem 0.1rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.pagination-prev {
  cursor: pointer;
}

.page-link:hover {
  color: var(--brown);
  background-color: #fff;
  border-color: var(--brown);
}

.error-modal .modal-content {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
