.delete-modal-header {
  font-size: 1rem !important;
}

.room-types-table td {
  font-size: 0.71rem;
  vertical-align: middle !important;
  padding: 0.3rem 0 0.3rem 0.8rem !important;
}

.room-types-page-link {
  border-radius: 0.44rem;
  height: 2.1rem;
  width: 2rem;
  font-size: 0.66rem;
  padding-top: 0.6rem;
  color: #c2c6c5;
}

.room-types-page-item {
  background-color: var(--brown);
  color: white;
}

.room-types-table thead tr th:first-child,
.room-types-table tbody tr td:first-child {
  width: 3rem;
}

.custom-height {
  height: calc(100vh - 11rem);
}
